.footer {
  padding-top: 24px;
  padding-bottom: 20px;
  width: 100%;
  background: #111827;
}
#Bottom {
  margin-top: 16px;
  padding-top: 12px;
  color: #adb5bd;
}
.footer-links li {
  margin-bottom: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-links li:hover {
  color: #0d6efd;
}

.footer-icon {
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer-icon:hover {
  color: #0d6efd;
}
.footer p {
  margin-bottom: 6px;
}
